.projects {
    padding-top: 150px;
    padding-left: 30px;
    background-image: linear-gradient(270deg,#071228,#360c79);
    width: 100%;
    padding-bottom: 500px;
    height: auto;
    display: flex;

    gap: 30px;
}

@media (max-width: 768px) {
    .projects {

        flex-direction: column;
        align-items: center;
    }

}
