

.cv-page {
    padding: 50px;
    display: flex;
    background-color: rgb(255, 255, 255);
    
    
}

.cv-title {
    animation: fadein 2s;
}

.cv-image {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border-style: solid;
    border: solid;
}

.cv-right-side-card {
    margin: 30px;
    padding: 10px;
    animation: fadein 2s;
    
    
}

.cv-line-border-right {
    height: 2px;
    color: rgb(10, 10, 240);    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes movein {
    from { margin-left: 1000px; }
    to   { margin-left: 0; }
}
