@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.nav-container {
  position: relative;
  min-height: 100vh;
}

.nav-link-box {
  width: 75px;
  height: 25px;

  background-color: rgb(34, 100, 221);
}

.navbar {
  background-color: rgb(78, 141, 214);
  width: 100%;
  box-shadow: 0 4px 18px 0 rgba(226, 231, 235, 0.2);
  height: 50px;
  /* border-bottom: solid;
  border-width: 1px;
  border-color: rgb(201, 193, 193); */
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.nav-link-border {
  height: 25px;
}

.nav-link {
  font-size: 15px;
  text-align: center;
  width: 100px;
  margin-bottom: 20px;
  /* margin-top: 5px;  */
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  
  color: white;
}

.nav-active-home {
  color: rgb(250, 191, 191);
  border-bottom: 1px solid transparent;
  /* margin-bottom: 9px;
  margin-top: 5px; */
  border-color: rgb(243, 184, 184);
}

.nav-active-cv {
  color: rgb(195, 241, 195);
  border-bottom: 1px solid transparent;
  /* margin-bottom: 9px;
  margin-top: 5px; */
  border-color: rgb(65, 236, 65);
}

.nav-active-todo {
  color: rgb(182, 182, 245);
  border-bottom: 1px solid transparent;
  /* margin-bottom: 9px;
  margin-top: 5px; */
  border-color: rgb(80, 80, 253);
}

.navbar-item {
  margin-left: 100px;
  margin-right: 100px;
}

.navbar-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(201, 193, 193);
}

.nav-link:hover {
  color: black;
  border-bottom: 1px solid transparent;
  /* margin-bottom: 9px;
  margin-top: 5px; */
  border-color: rgb(162, 209, 162);
}