.home {
    background-color: rgb(77, 75, 75);
    min-height: 100vh;
}

.home-info {
    position: absolute;
    top: 20%;
    left: 30%;
    display: flex;
    float: auto;
    width: 80%;
    color: white;
}

.home-image {

    width: 300px;
    height: 300px;
    border-radius: 180px;
    border-style: solid;
    border: 1px solid;
    
}

.home-aboutme {
    margin: 30px;
    width: 450px;
}

.home-name {
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .home-info {
        left: 10%;
    }
}